<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informações do cadastro</title>

    <link rel = "preconnect" href = "https://fonts.googleapis.com">

</head>
<body>

	<h1 th:text="${nome}"></h1>
	<h1 th:text="${cpf}"></h1>
	<h1 th:text="${endereco}"></h1>
	<h1 th:text="${numero}"></h1>
	<h1 th:text="${sexo}"></h1>
	<h1 th:text="${idade}"></h1>
	<h1 th:text="${telefone}"></h1>
	<h1 th:text="${email}"></h1>
	<h1 th:text="${senha}"></h1>
    
</body>
</html>