<!DOCTYPE html>
<html>
<head lang="pt-br">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>

	<link rel="shortcut icon" type="image/x-icon" href="..//imagens/imagens_pagina/icone_titulo.png">

	<!-- Css que eu escrevi -->
	<link rel="stylesheet" type="text/css" href="../css/login.css">

	<!-- Fontes q eu importei do google -->
	<link rel = "preconnect" href = "https://fonts.googleapis.com">
	<link rel = "preconnect" href = "https://fonts.gstatic.com" crossorigin>
	
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>

	<header class="cabecalho">

		<div class="itens-cabecalho">

			<a href="/">
				<div class="logo">
					<h1 class="titulo-logo">Skinni</h1>
				</div>
			</a>

		</div>
	</header>

		<!--Formulário para login com algumas mudanças -->

		<section>
				<h2 class="titulo">Login</h2>

				<form>

				<div class="area-login">

					<input type="email" id="email" placeholder="E-mail">

					<div class="campo-senha">
						<input type="password" id="senha" placeholder="Senha">

				
						<svg viewBox="-6 -6 32 32" role="presentation" class="revela-senha" id="mostrar-senha"><g><path d="M3.25909 11.6021C3.94254 8.32689 6.79437 6 10 6C13.2057 6 16.0574 8.32688 16.7409 11.6021C16.7974 11.8725 17.0622 12.0459 17.3325 11.9895C17.6029 11.933 17.7763 11.6682 17.7199 11.3979C16.9425 7.67312 13.6934 5 10 5C6.3066 5 3.05742 7.67311 2.28017 11.3979C2.22377 11.6682 2.39718 11.933 2.6675 11.9895C2.93782 12.0459 3.20268 11.8725 3.25909 11.6021Z"></path><path d="M10 8C8.067 8 6.5 9.567 6.5 11.5C6.5 13.433 8.067 15 10 15C11.933 15 13.5 13.433 13.5 11.5C13.5 9.567 11.933 8 10 8ZM7.5 11.5C7.5 10.1193 8.61929 9 10 9C11.3807 9 12.5 10.1193 12.5 11.5C12.5 12.8807 11.3807 14 10 14C8.61929 14 7.5 12.8807 7.5 11.5Z"></path></g></svg>
					</div>

			

					<p id="infsErradas"> </p>

					<a href="https://thumbs.dreamstime.com/b/triste-mulher-infeliz-sentada-num-enorme-teclado-de-laptop-com-cadeado-na-tela-mostrando-o-polegar-para-baixo-garota-tentando-171312222.jpg" id="esqueceu_senha">Esqueceu sua senha?</a>

					<div class="botoes">
						<button type="submit" id="enviarInfs"><span class="tEntrar">Entrar</span></button>

						<button type="button" id="cadastrar"><span class="tEntrar">Criar conta</span></button>

						<a id="pgcadastro" href="/cadastro" hidden="hidden"></a>

					</div>
				</div>
			</form>
		</section>



	<!-- Arquivo JS que valida informações e processa  -->
	 <script type="text/javascript" src="..//js/login.js"></script>

</body>
</html>