<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Masculino</title>
	<!-- Estilo css: -->
	<link rel="stylesheet" type="text/css" href="..//css/estilo.css">

	<link rel="shortcut icon" type="image/x-icon" href="..//imagens/imagens_pagina/icone_titulo.png">

	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&family=Merriweather+Sans&display=swap" rel="stylesheet">
</head>
<body>

	<header class="cabecalho">
		<div class="itens-cabecalho">


			<div class="logo">
				<h1 class="titulo-logo">Skinni</h1>
			</div>

			<div class="barra-pesquisa">
				<i class="fas fa-search pesquisar-icon"></i>
				<input type="text" class="pesquisa" id="pesquisa" placeholder="Pesquisar...">
			</div>

			<div class="icones">

				<a href="compras/compras.html">
					<div class="compras">
						<i class="fas fa-shopping-bag"></i>
					</div>
				</a>

				<a href="/login">
					<div class="usuario">
						<i class="fas fa-user"></i>
					</div>
				</a>
			</div>

		</div>

			<div id="menu-bar" class="menu-bar">
				<i class="fa-solid cor fa-bars"></i>
			</div>

		<nav class="menu">
			
			<ul>

				<li><h5 class="link-menu">Conta</h5>
					<ul class="submenu">
						<li><a href="../login/login.html" class="link-menu">Login</a></li>
						<li><a href="..//cadastro/cadastro.html" class="link-menu">Criar conta</a></li>
					</ul>
				</li>

				<li><a href="/" class="link-menu"><span>Novidades</span></a></li>
				<li><a href="/feminino" class="link-menu"><span>Feminino</span></a></li>
				<li class="marcador-pagina"><a href="" class="link-menu"><span>Masculino</span></a></li>
				<li><a href="/infantil" class="link-menu"><span>Infantil</span></a></li>
				<li><a href="/moletons" class="link-menu"><span>Moletons</span></a></li>
				<li><a href="/acessorios" class="link-menu"><span>Acessórios</span></a></li>
			</ul>
			<section class="subMenu-inferior"></section>
		</nav>
	</header>

	<section class="mostruario-secoes">
		<h1></h1>

		<div class="vitrine-item">

			<a href="/comprar">
				<figure class="itens">
					<div class="img-item">
						<img src="../imagens/produtos/masculino/Animações/Elemento X - masculina.png">
					</div>

					<div class="inf-produto">
						<h2 class="titulo-produto" id="titulo-item">Elemento X - Maculino</h2>		
						<div class="area-precos">
							<h3 class="preco">R$ 20,00</h3>
						</div>
					</div>
				</figure>
			</a>

			<a href="/comprar">
				<figure class="itens">

					<div class="img-item">
						<img src="../imagens/produtos/masculino/Animações/Gatilhos - masculina.png">
					</div>

					<div class="inf-produto">
						<h2 class="titulo-produto" id="titulo-item">Gatilhos - Masculino</h2>		
						<div class="area-precos">
							<h3 class="preco">R$ 20,00</h3>
						</div>
					</div>
				</figure>
			</a>

			<a href="/comprar">
				<figure class="itens">
					<div class="img-item">
						<img src="../imagens/produtos/masculino/Animações/I Say Hey - masculina.png">
					</div>

					<div class="inf-produto">
						<h2 class="titulo-produto" id="titulo-item">I Say Hey - Masculino</h2>		
						<div class="area-precos">
							<h3 class="preco">R$ 20,00</h3>
						</div>
					</div>
				</figure>
			</a>

			<a href="/comprar">
				<figure class="itens">
					<div class="img-item">
						<img src="../imagens/produtos/masculino/Animes/camisa_akatsuki.png">
					</div>

					<div class="inf-produto">
						<h2 class="titulo-produto" id="titulo-item">Camiseta Akatsuki - Masculiina</h2>		
						<div class="area-precos">
							<h3 class="preco">R$ 20,00</h3>
						</div>
					</div>
				</figure>
			</a>

			<a href="/comprar">
				<figure class="itens">
					<div class="img-item">
						<img src="../imagens/produtos/masculino/Animes/Kiuubi - masculina.png">
					</div>

					<div class="inf-produto">
						<h2 class="titulo-produto" id="titulo-item">Kiuubi - Masculino</h2>		
						<div class="area-precos">
							<h3 class="preco">R$ 20,00</h3>
						</div>
					</div>
				</figure>
			</a>

			<a href="/comprar">
				<figure class="itens">
					<div class="img-item">
						<img src="../imagens/produtos/masculino/Animes/Chihiro - masculina.png">
					</div>

					<div class="inf-produto">
						<h2 class="titulo-produto" id="titulo-item">Chihiro - Masculino</h2>		
						<div class="area-precos">
							<h3 class="preco">R$ 20,00</h3>
						</div>
					</div>
				</figure>
			</a>

			<a href="/comprar">
				<figure class="itens">
					<div class="img-item">
						<img src="../imagens/produtos/masculino/Animes/The Starry Cat - masculina.png">
					</div>

					<div class="inf-produto">
						<h2 class="titulo-produto" id="titulo-item">The Starry Cat Tradicional Black</h2>		
						<div class="area-precos">
							<h3 class="preco">R$ 20,00</h3>
						</div>
					</div>
				</figure>
			</a>

			<a href="/comprar">
				<figure class="itens">
					<div class="img-item">
						<img src="../imagens/produtos/masculino/Animes/camisa_deidara.png">
					</div>

					<div class="inf-produto">
						<h2 class="titulo-produto" id="titulo-item">Camiseta Deidara - Masculino</h2>		
						<div class="area-precos">
							<h3 class="preco">R$ 20,00</h3>
						</div>
					</div>
				</figure>
			</a>

			<a href="/comprar">
				<figure class="itens">
					<div class="img-item">
						<img src="../imagens/produtos/masculino/Animes/Yu-Gi-Oh Exodia - masculina.png">
					</div>

					<div class="inf-produto">
						<h2 class="titulo-produto" id="titulo-item">Yu-Gi-Oh Exomedia</h2>		
						<div class="area-precos">
							<h3 class="preco">R$ 20,00</h3>
						</div>
					</div>
				</figure>
			</a>

			<a href="/comprar">
				<figure class="itens">

					<div class="img-item">
						<img src="..//imagens/produtos/moletons/e-la-vamos-nos-canguru-unissex.jpg">
					</div>

					<div class="inf-produto">
						<h2 class="titulo-produto" id="titulo-item">E Lá Vamos Nós</h2>		
						<div class="area-precos">
							<h3 class="preco">R$ 20,00</h3>
						</div>
					</div>
				</figure>
			</a>

			<a href="/comprar">
				<figure class="itens">

					<div class="img-item">
						<img src="..//imagens/produtos/moletons/espirito-de-dragao-canguru-unissex.jpg">
					</div>

					<div class="inf-produto">
						<h2 class="titulo-produto" id="titulo-item">Espirito De Dragão</h2>		
						<div class="area-precos">
							<h3 class="preco">R$ 20,00</h3>
						</div>
					</div>
				</figure>
			</a>

			<a href="/comprar">
				<figure class="itens">
					<div class="img-item">
						<img src="..//imagens/produtos/moletons/kimetsu-masks-canguru-unissex.jpg">
					</div>

					<div class="inf-produto">
						<h2 class="titulo-produto" id="titulo-item">Kimetsu Masks</h2>		
						<div class="area-precos">
							<h3 class="preco">R$ 20,00</h3>
						</div>
					</div>
				</figure>
			</a>

			<a href="/comprar">
				<figure class="itens">
					<div class="img-item">
						<img src="..//imagens/produtos/moletons/science-time-canguru-unissex.jpg">
					</div>

					<div class="inf-produto">
						<h2 class="titulo-produto" id="titulo-item">Science Time</h2>		
						<div class="area-precos">
							<h3 class="preco">R$ 20,00</h3>
						</div>
					</div>
				</figure>
			</a>

			<a href="/comprar">
				<figure class="itens">
					<div class="img-item">
						<img src="..//imagens/produtos/moletons/titans-canguru-unissex.jpg">
					</div>

					<div class="inf-produto">
						<h2 class="titulo-produto" id="titulo-item">Titans</h2>		

						<div class="area-precos">
							<h3 class="preco">R$ 20,00</h3>
						</div>
					</div>
				</figure>
			</a>

			<a href="/comprar">
				<figure class="itens">
					<div class="img-item">
						<img src="..//imagens/produtos/moletons/yin-yang-dragons-canguru-unissex.png">
					</div>

					<div class="inf-produto">
						<h2 class="titulo-produto" id="titulo-item">Yin Yan Dragons</h2>		
						<div class="area-precos">
							<h3 class="preco">R$ 20,00</h3>
						</div>
					</div>
				</figure>
			</a>

			<a href="/comprar">
				<figure class="itens">
					<div class="img-item">
						<img src="../imagens/produtos/masculino/Animes/Kamado Brothers - masculina.png">
					</div>

					<div class="inf-produto">
						<h2 class="titulo-produto" id="titulo-item">Kamado Brothers - Masculino</h2>		
						<div class="area-precos">
							<h3 class="preco">R$ 20,00</h3>
						</div>
					</div>
				</figure>
			</a>

			<a href="/comprar">
				<figure class="itens">
					<div class="img-item">
						<img src="../imagens/produtos/masculino/Animes/Kaonashi - masculina.png">
					</div>

					<div class="inf-produto">
						<h2 class="titulo-produto" id="titulo-item">Kaonashi - Masculino</h2>		
						<div class="area-precos">
							<h3 class="preco">R$ 20,00</h3>
						</div>
					</div>
				</figure>
			</a>

			<a href="/comprar">
				<figure class="itens">
					<div class="img-item">
						<img src="../imagens/produtos/masculino/Animes/camisa_kratos.png">
					</div>

					<div class="inf-produto">
						<h2 class="titulo-produto" id="titulo-item">Camisa Ousa defasiar o Deus Da Guerra - Maculino</h2>		
						<div class="area-precos">
							<h3 class="preco">R$ 20,00</h3>
						</div>
					</div>
				</figure>
			</a>

			<a href="/comprar">
				<figure class="itens">
					<div class="img-item">
						<img src="../imagens/produtos/masculino/Jogos/Kirby - masculina.png">
					</div>

					<div class="inf-produto">
						<h2 class="titulo-produto" id="titulo-item">Kirby - Masculino</h2>		
						<div class="area-precos">
							<h3 class="preco">R$ 20,00</h3>
						</div>
					</div>
				</figure>
			</a>

			<a href="/comprar">
				<figure class="itens">
					<div class="img-item">
						<img src="../imagens/produtos/masculino/Jogos/Mariochu - masculina.png">
					</div>

					<div class="inf-produto">
						<h2 class="titulo-produto" id="titulo-item">Mariochu - Masculino</h2>		
						<div class="area-precos">
							<h3 class="preco">R$ 20,00</h3>
						</div>
					</div>
				</figure>
			</a>

			<a href="/comprar">
				<figure class="itens">
					<div class="img-item">
						<img src="../imagens/produtos/masculino/Música/Raul - masculina.png">
					</div>

					<div class="inf-produto">
						<h2 class="titulo-produto" id="titulo-item">Camisa Raul - Masculino</h2>		
						<div class="area-precos">
							<h3 class="preco">R$ 20,00</h3>
						</div>
					</div>
				</figure>
			</a>

			<a href="/comprar">
				<figure class="itens">
					<div class="img-item">
						<img src="../imagens/produtos/masculino/Música/Smooth Criminal - masculina.png">
					</div>

					<div class="inf-produto">
						<h2 class="titulo-produto" id="titulo-item">Camisa Smooth Criminal - Masculino</h2>		
						<div class="area-precos">
							<h3 class="preco">R$ 20,00</h3>
						</div>
					</div>
				</figure>
			</a>

			<a href="/comprar">
				<figure class="itens">
					<div class="img-item">
						<img src="../imagens/produtos/masculino/Animes/camisa_zabuza.png">
					</div>

					<div class="inf-produto">
						<h2 class="titulo-produto" id="titulo-item">Camisa Zabuza Momochi</h2>		
						<div class="area-precos">
							<h3 class="preco">R$ 20,00</h3>
						</div>
					</div>
				</figure>
			</a>

			<a href="/comprar">
				<figure class="itens">
					<div class="img-item">
						<img src="../imagens/produtos/masculino/Séries/Walter White - masculina.png">
					</div>

					<div class="inf-produto">
						<h2 class="titulo-produto" id="titulo-item">Camisa Walter White - Masculino</h2>		
						<div class="area-precos">
							<h3 class="preco">R$ 20,00</h3>
						</div>
					</div>
				</figure>
			</a>

		</div>
	</section>

	<footer>

		<div class="itens-rodape">
			<div class="divisoes-rodape">
				<h2></h2><br>

				<a href="https://www.instagram.com/tcc_skinni_grupo5/">
					<i class="fa-brands fa-instagram"></i>
				</a>
			</div>

			<div class="divisoes-rodape">
				<h2>Sobre a Skinni:</h2>

				<ul>
					<li><a href="">Quem somos</a></li>
				</ul>
			</div>

			<div class="divisoes-rodape">
				<h2>Formas de pagamento:</h2>

				<figure class="forma-pagamentos">

					<figure class="tipo-forma-pagamento">
						<img src="../imagens/imagens_pagina/formas_pagamento/visa.png" alt="">
					</figure>

					<figure class="tipo-forma-pagamento">
						<img src="../imagens/imagens_pagina/formas_pagamento/elo.png" alt="">
					</figure>

					<figure class="tipo-forma-pagamento">
						<img src="../imagens/imagens_pagina/formas_pagamento/mercadopago.png" alt="">
					</figure>

					<figure class="tipo-forma-pagamento">
						<img src="../imagens/imagens_pagina/formas_pagamento/boleto.png" alt="">
					</figure>

					<figure class="tipo-forma-pagamento">
						<img src="../imagens/imagens_pagina/formas_pagamento/pix.png" alt="">
					</figure>
					
				</figure>

			</div>
		</div>

		<div class="copyright"> <h2>© Copyright 2022</h2></div>
	</footer>

	<div class="tela-infs"></div>
	

	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

	<script src="https://unpkg.com/scrollreveal"></script>

	<script type="text/javascript" src="../js/masculino.js"></script>
	
	<script>
		ScrollReveal().reveal('.itens, footer', { interval: 16, reset: true });
  		AOS.init();
	</script>

</body>
</html>
